rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isImage() {
      return request.resource != null
        && request.resource.contentType.matches('image/.*')
        && request.resource.size < 8 * 1024 * 1024;
    }

    function canAccessMatch(matchId) {
      let matchData = firestore.get(
        /databases/(default)/documents/matches/$(matchId)
      ).data;
      return matchData.user1Id == request.auth.uid
        || matchData.user2Id == request.auth.uid
        || (
          matchData.keys().hasAny(['participantIds'])
          &&
          matchData.participantIds is list
          && matchData.participantIds.hasAny([request.auth.uid])
        );
    }

    function canWriteMatchImage(matchId) {
      let matchData = firestore.get(
        /databases/(default)/documents/matches/$(matchId)
      ).data;
      return matchData.status == 'active'
        && (
          matchData.user1Id == request.auth.uid
          || matchData.user2Id == request.auth.uid
          || (
            matchData.keys().hasAny(['participantIds'])
            &&
            matchData.participantIds is list
            && matchData.participantIds.hasAny([request.auth.uid])
          )
        );
    }

    match /users/{uid}/photos/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
        && request.auth.uid == uid
        && isImage();
    }

    match /users/{uid}/photoThumbnails/{fileName} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    match /matches/{matchId}/images/{fileName} {
      allow read: if isSignedIn() && canAccessMatch(matchId);
      allow write: if isSignedIn()
        && isImage()
        && canWriteMatchImage(matchId);
    }

    match /clubs/{clubId}/{fileName} {
      allow read: if true;
      allow write: if isSignedIn()
        && isImage()
        && firestore.get(
          /databases/(default)/documents/clubs/$(clubId)
        ).data.hostUserId == request.auth.uid;
    }

    match /clubs/{clubId}/events/{eventId}/{fileName} {
      allow read: if true;
      allow write: if isSignedIn()
        && isImage()
        && firestore.get(
          /databases/(default)/documents/clubs/$(clubId)
        ).data.hostUserId == request.auth.uid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
