<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.health.READ_EXERCISE"/>
    <uses-permission
        android:name="android.permission.health.READ_DISTANCE"/>
    <application>
        <activity
            android:name=".MainActivity">
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="catchdates.com"
                    android:pathPrefix="/clubs/run-clubs"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".ViewPermissionUsageActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
                <category
                    android:name="android.intent.category.HEALTH_PERMISSIONS"/>
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
