<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqnyLINlUCUHFkssvIo_wDYgCnwlYE7H0</string>
	<key>GCM_SENDER_ID</key>
	<string>822303414140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catchdates.app.staging</string>
	<key>PROJECT_ID</key>
	<string>catchdates-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>catchdates-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822303414140:ios:6bae8cc0e1781e890c76f9</string>
</dict>
</plist>
