#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-host-dev.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
#include "CatchBuildSettings.xcconfig"
#include? "GoogleMapsKeys.xcconfig"
APS_ENVIRONMENT=development
APP_ATTEST_ENVIRONMENT=production
FIREBASE_IOS_URL_SCHEME=app-1-619661127800-ios-730bbfd6550efac0077d8d

GOOGLE_MAPS_IOS_API_KEY=$(GOOGLE_MAPS_IOS_API_KEY_DEV)
