#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-host-staging.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
#include "CatchBuildSettings.xcconfig"
#include? "GoogleMapsKeys.xcconfig"
APS_ENVIRONMENT=development
APP_ATTEST_ENVIRONMENT=production
FIREBASE_IOS_URL_SCHEME=app-1-822303414140-ios-1faa9261df8f53970c76f9

GOOGLE_MAPS_IOS_API_KEY=$(GOOGLE_MAPS_IOS_API_KEY_STAGING)
